body {
    height: 100vh;
    overflow: hidden;
}

#gamelist {
    display: flex;
}

.gamecard {
    text-align: center;
}

.list {
    overflow-x: scroll;
}

.currentgame {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("./img/2048.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.playbutton {
    position: relative;
    top: 50%;
    display: flex;
    justify-content: center;
    z-index: 100;
    color: white;
}

.dummy {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* width */
::-webkit-scrollbar {
    width: 20px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00000080;
}