#board {
    width: 510px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#digits {
    width: 500px;
    height: 50px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 54px;
    height: 54px;
    color: rgb(165, 93, 42);
    border: 1px solid rgb(165, 93, 42, 0.3);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    width: 50px;
    height: 50px;
    color: rgb(165, 93, 42);
    margin-inline-end: 3px;
    border: 1px solid rgb(165, 93, 42);
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number:hover {
    background-color: rgb(165, 93, 42, 0.1);
    scale: 90%;
}

.selectednumber {
    background-color: gainsboro;
    scale: 90%;
}

.showedbox {
    font-weight: bolder;
}

.horizontallie {
    border-bottom: 2px solid rgb(165, 93, 42);
}

.varticallie {
    border-right: 2px solid rgb(165, 93, 42);
}

.selectedbox {
    background-color: rgb(165, 93, 42, 0.1);
}

.onlyoneselectedbox {
    background-color: rgb(165, 93, 42, 0.4);
}
