#board {
    width: 500px;
    height: 490px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#digits {
    width: 500px;
    height: 50px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 54px;
    height: 54px;
    color: #a55d2a;
    border: 1px solid #a55d2a4d;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    width: 50px;
    height: 50px;
    color: rgb(165, 93, 42);
    margin-inline-end: 3px;
    border: 1px solid rgb(165, 93, 42);
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number:hover {
    background-color: rgb(165, 93, 42, 0.1);
    scale: 90%;
}

.selectednumber {
    background-color: rgb(165, 93, 42);
    scale: 90%;
}

.showedbox {
    font-weight: bolder;
}

.horizontallie {
    border-bottom: 2px solid rgb(165, 93, 42);
}

.varticallie {
    border-right: 2px solid rgb(165, 93, 42);
}

.selectedbox {
    background-color: rgb(165, 93, 42, 0.1);
}

.onlyoneselectedbox {
    background-color: rgb(165, 93, 42, 0.4);
}

@media (max-width: 500px) {
    #board {
        width: 400px;
        height: 390px;
    }

    #digits {
        width: 400px;
        height: 40px;
        margin: 16px auto;
    }

    .box {
        width: 43.2px;
        height: 43.2px;
        font-size: 20px;
    }

    .number {
        width: 40px;
        height: 40px;
        font-size: 20px;
        border-radius: 8px;
        margin-inline-end: 2px;
    }
}

@media (max-width: 408px) {
    #board {
        width: 300px;
        height: 290px;
    }

    #digits {
        width: 300px;
        height: 30px;
        margin: 12px auto;
    }

    .box {
        width: 32px;
        height: 32px;
        font-size: 15px;
    }

    .number {
        width: 30px;
        height: 30px;
        font-size: 15px;
        border-radius: 6px;
        margin-inline-end: 1px;
    }
}