* {
    padding: 0;
    margin: 0;
}

.body {
    background-image: url('Background.png');
    background-color: rgb(160, 72, 229);
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: top right;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ground {
    background: radial-gradient(#8a2be2, #a44cf5);
    width: 100vmin;
    height: 90vmin;
    border: 2px solid purple;
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(25, 1fr);
}

#score {
    position: absolute;
    top: 20px;
    left: 100px;
    color: #3a046d;
    font-size: 35px;
}

@media (max-width: 1200px) {
    #ground {
        width: 80vmin;
        height: 70vmin;
    }
}

@media (max-width: 951px) {
    #ground {
        width: 60vmin;
        height: 50vmin;
    }

    .body {
        background-size: 950px;
    }
}


.snake {
    background-color: #802180;
    border-radius: 20%;
    border: 1px solid blueviolet;
}

.head {
    background-color: rgb(119, 7, 119);
    border-radius: 20%;
}

.food {
    background-color: blue;
    border-radius: 50%;
}